*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/app/build
/feature/*/build
/core/*/build
/build-logic/build
/build-logic/.gradle
captures
.externalNativeBuild
.cxx
*.apk
*.aar
*.keystore
